<main class="main-content container">
     <div ng-controller="CartCtrl">
		 <div style="text-align: center"><a ui-sref="map"><button class="btn button btn-warning">See Visual Schedule</button></a></div>
         	<table id="cart" class="table col-xs-10 col-s-10 col-m-10 col-lg-10 padSide">
    				<thead>
						<tr>
							<th class="width50">Teacher</th>
							<th class="width10">Term</th>
							<th class="width10">Class</th>
							<th class="width10">M</th>
							<th class="width10">TU</th>
							<th class="width10">W</th>
							<th class="width10">TH</th>
							<th class="width10">F</th>
							<th class=" width10 text-center">Contact Information</th>
							<th sclass="width5">Location</th>
							<th></th>
							<th></th>
						</tr>
						<tr>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pencil in cart track by $index">
							<td>{{pencil.name}}</td>
							<td>{{pencil.color}}</td>
							<td> &nbsp;  {{pencil.price}}</td>
							<td>{{pencil.m}}</td>
							<td>{{pencil.tu}}</td>
							<td>{{pencil.w}}</td>
							<td>{{pencil.th}}</td>
							<td>{{pencil.f}}</td>
							<td>&nbsp;&nbsp;&nbsp;{{pencil.contact}}</td><td>{{pencil.location}}</td><td class="padSide"><button ng-click="removePencils(pencil)"><i class="fa fa-times"></i></button>
						</tr>
					</tbody>
				</table><br>
				<td>Would you like to empty your list?  </td><br>
				<button class="btn padTop padBottom padSide" ng-click="modalOpen()">Confirm</button>
    </div><br>
</main>

