<main class="main-content container">
     <div ng-controller="CartCtrl">
         	<table id="cart" class="table col-xs-10 col-s-10 col-m-10 col-lg-10 padSide">
    				<thead>
						<tr>
							<th class="width50">Product</th>
							<th class="width10">Color</th>
							<th class="width10">Price</th>
							<th class="width10">Quantity</th>
							<th class=" width22 text-center">Subtotal</th>
							<th sclass="width10"></th>
						</tr>
						<tr>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pencil in cart track by $index">
							<td>{{pencil.name}}</td>
							<td>{{pencil.color}}</td>
							<td> &nbsp;  {{pencil.price | currency : $ : 2}}</td>
				<td class="padSide"><button ng-click="subOne(pencil)">-</button>{{pencil.quantity}}<button ng-click="addOne(pencil)">+</button></td>
							<td>&nbsp;&nbsp;&nbsp;{{pencil.quantity * pencil.price | currency : $ : 2 }}</td>
						</tr>
					</tbody>
				</table>
				<td>Total: ${{getTotal()}}</td><br>
				<button class="btn padTop padBottom padSide" ng-click="modalOpen()">Confirm</button>
    </div>
</main>

