<main role="main" class="main-content container" aria-live="polite">
   <span class="padTop">
   <button class="padTop btn btn-warning"><a class="padTop" ui-sref="orders.pencils" href="#/orders">Go Back</a></button>
   </span>
   <section role="region">
      <tr ng-controller="DetailCtrl">
         <div class="container col-xs-12 col-sm-12 col-m-6 col-lg-6">
            <h1>{{pencil.name}} <small> &nbsp;  {{pencil.price}}</small><br></h1>
            <p> {{pencil.location}}
            <p>
            <p>{{pencil.contact}}</p>
            <form name="orderForm">
               <label for="colors">Term </label><br>
               <select name="colors" ng-model="colors.selectedItem">
                  <option value="sum16">SUM 16</option>
                  <option value="aut16">AUT 16</option>
                  <option value="win16">WIN 16</option>
                  <option value="spr17">SPR 17</option>
                  <option value="sum17">SUM 17</option>
               </select>
               <br><br>
               <p><button id="submit" class="btn btn-default padTop" ng-click="savePencil()" onClick="this.disabled = true;" ng-disabled="colors.selectedItem === null">
                  Add to Classes
                  </button>
               </p>
            </form>
         </div>
   </section>
   <section class="container padTop">
   <div class="col-xs-12 col-sm-12 col-m-6 col-lg-6 container max-widthSmall">
   <img ng-src="{{pencil.image}}" class="pencilImg" /><br>
   </div>
   <div>
   <div class="col-xs-12 col-sm-12 col-m-6 col-lg-6 container padTop" class="pencilType">
   <br> <table class="table table-striped table-bordered padTop">
   <thead>
   <tr>
   <th>MON </th>
   <th>TUE</th>
   <th>WED</th>
   <th>THU</th>
   <th>FRI</th>
   </tr>
   </thead>
   <tbody>
   <tr>
   <td>{{pencil.m}}</td>
   <td>{{pencil.tu}}</td>
   <td>{{pencil.w}}</td>
   <td>{{pencil.th}}</td>
   <td>{{pencil.f}}</td>
   </tr>
   </tbody>
   </table>
   </div>
   </section>
</main>